<html xmlns:th="http://www.thymeleaf.org">
<form action="#" th:action =" @{/customer/buy/__${id}__}" 
	th:object = "${customer}" method = "post">
	
	
	<p th:text="'Hello ' +${innerObjectCustName}+'! Please create Your shopping list:' "></p>
	
	<table>
	<tr>
		<td> Products in the system</td>
		<td>
		<select multiple="multiple" th:field = "*{allCustomerProducts}">
		<option th:each= "prod : ${allCustomerProducts}" th:value="${prod.getId()}"th:text="${prod.getTitle()}"></option>
		
		
		</select>
		
		 </td>
	
	</tr>
	
	</table>
	
	<input type = "submit">
	
</form>

</html>