<html xmlns:th="http://www.thymeleaf.org">
<body>
        <form action="#" th:action="@{/product/updateProduct/__${id}__}"
                th:object="${product}" method="post">
                
                <table>
                        <tr> 
                                <td>Please insert title </td>
                                <td> <input type="text" th:field="*{title}" th:value="${title}"> </td>
                                <td th:if="${#fields.hasErrors('title')}" th:errors="*{title}"> </td>
                        </tr>
                
                        <tr> 
                                <td>Please insert price </td>
                                <td> <input type="text" th:field="*{price}" th:value="${price}"> </td>
                                <td th:if="${#fields.hasErrors('price')}" th:errors="*{price}"> </td>
                        </tr>
                
                </table>
                
                <input type="submit">
        </form>
</body>
</html>